@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: black;
    color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

:root {
  color-scheme: dark;
}